notification {
     .backgnd {
        background-image:url('/assets/imgs/background/pings.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: fixed;
    }
    .gradient-btn {
        background: linear-gradient(to right,  purple 0%, red 100%);
        height: 40px;
    }
    .btn-days {
        width: 20px;
        height: 20px;
        margin-left:7px;
    }
}
