<!-- Generated template for the ScheduleComponent component -->
<div>

  <p style="font-size: 20px; margin-top: 5px;">Ficha de Treino > <span style="font-size: 14px;">Segunda-feira</span></p>
  
  <ion-card>
    <div ion-grid>
      <div ion-row>
        <div ion-col col-4 class="alter-div">
          c
        </div>
        <div ion-col col-4 class="alter-div">
          b
        </div>
        <div ion-col col-4 class="alter-div">
          a
        </div>
      </div>
    </div>
  </ion-card>
  
  <div hide="true">
  </div>
</div>
