page-login {
    .gradient-btn {
        background: linear-gradient(to right,  purple 0%, red 100%);
    }
    .imglogocenter {
        height:100px;
        width:100px;
        margin-right:auto;
        margin-left:auto;
        margin-top:20px;
        margin-bottom: 10px; 
    }
    .backgnd {
        background-image:url('/assets/imgs/background/backglogin.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: fixed;
    }
    .classic-btn{
        height:10px;
    }
}
