page-home {
    .gradient {
        background: linear-gradient(to right,  purple 0%, red 100%);
    }
    .imglogocenter {
        position: absolute;
        left: 50%;
        top: 12%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .homeBg {
        background-image:url('../../assets/imgs/background/backglogin.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #45372E;
    }
    .centralize {
        margin-top: 53%;
    }
}