page-home {
    .gradient {
        background: linear-gradient(to right,  purple 0%, red 100%);
    }
    .imgperfilcenter {
        position: absolute;
        left: 50%;
        top: 10%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 100%;
        height: 100px;
        width: 100px;
        border-color: black;
        border-style: solid;
        border-width: 1px;
    }
    .backgnd {
        background-image:url('../../assets/imgs/background/backglogin.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-color: #45372E;
    }
    .centralizecards {
        margin-top: 53%;
    }
}