
<ion-header #head class="gradient">
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-avatar>
          <img src="https://scontent.fbnu1-1.fna.fbcdn.net/v/t1.0-9/18157332_1514157541962951_229328627373291909_n.jpg?oh=289a915dbb5fb076d2735a1817334e63&oe=5AFAA815" style="width:80px;height:80px;border-radius:80px; margin-left: 20px;">
        </ion-avatar>
      </ion-col>
      <ion-col col-6>
        <!--<p style="color:white;">{{ currentUser.name }}</p>-->
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-only clear style="color:white;"><ion-icon ios="ios-exit" md="md-exit"></ion-icon></button>
      </ion-col>
    </ion-row>
    <ion-row style="text-align:center; height:56px;">
      <!--<ion-col><button id="btn-schedule" ion-button icon-only clear (click)="onNav(1)" class="btn-nav"><ion-icon ios="ios-paper" md="md-paper"></ion-icon></button></ion-col>
      <ion-col><button id="btn-students" ion-button icon-only clear (click)="onNav(2)" class="btn-nav"><ion-icon ios="ios-contacts" md="md-contacts"></ion-icon></button></ion-col>
      <ion-col><button id="btn-charts" ion-button icon-only clear (click)="onNav(3)" class="btn-nav"><ion-icon ios="ios-trending-up" md="md-trending-up"></ion-icon></button></ion-col>
      <ion-col><button id="btn-menu" ion-button icon-only clear (click)="onNav(4)" class="btn-nav" menuToggle><ion-icon ios="ios-menu" md="md-menu"></ion-icon></button></ion-col>-->
    <ion-segment color="light" [(ngModel)]="nav">
      <ion-segment-button value="schedule" icon-only clear>
        <ion-icon ios="ios-paper" md="md-paper"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="students" icon-only clear>
        <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="charts" icon-only clear>
       <ion-icon ios="ios-trending-up" md="md-trending-up"></ion-icon>
      </ion-segment-button>
      <ion-segment-button [value]="nav" icon-only clear menuToggle>
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    </ion-row>
  </ion-grid>
</ion-header>
<ion-content hide-header [header]="head" style="font-family: 'Rajdhani', sans-serif;" padding>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
  <div *ngIf="nav == 'schedule'">
    <schedule></schedule>
  </div>
  <div *ngIf="nav == 'students'">
    <students [students]="student"></students>
  </div>
  <div *ngIf="nav == 'charts'">
    <charts></charts>
  </div>
</ion-content>