page-newpass {
    .backgnd {
        background-image:url('../../assets/imgs/background/backglogin.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .gradient {
        background: linear-gradient(to right,  purple 0%, red 100%);
    }
    .center {
        margin-top:50%;
    }
}
