page-bigmenu {
    .btn-bigmenu{
        font-size: 50px;
        opacity: 0.7;
    }
    .alignment{
        text-align: center;
    }
    .gradient1 {
        background: linear-gradient(to right,  purple 0%, red 100%);
        font-size: 25px;
    }
    .backgbigmenu {
        background-image: url("../assets/imgs/backgbigmenu.png");
        background-repeat: no-repeat;
        background-size: auto;
    }
}
